{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
    <div>
        <h1>Django User Authentication Class</h1>
        <div>
            <h2>Please Login</h2>
            <form action="" method="post">
                {% csrf_token %}
                <label for="username">UerName</label>
                <input type="text" placeholder="username" id="username" name="username"><br>
                <label for="password">Password</label>
                <input type="password" placeholder="********" id="password" name="password"><br>
                <input type="submit" name="Log in">
            </form>
        </div>
    </div>
{% endblock %}